body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    background-color: #E5E5E5;
}

.navbar-brand {
    font-weight: bold;
}

.card h2 {
    font-weight: bold;
}

.lengkung {
    border: none;
    border-radius: 20px;
}

.btn {
    background-color: gray;
    color: #fff;
}
.btn:hover {
    background-color: lightblue;
    color: #fff;
    transition: 0.5s;
}

b {
    font-weight: bold;
}

.card {
    border-radius: 20px;
}

.card .card-header {
    background-color: gray;
    border-radius: 20px;
}

.card .card-body img {
    margin-top: -50px;
}

.card .card-header:hover {
    background-color: lightgreen;
    transition: 0.5s;
    text-shadow: 4px 4px;
    margin-top: -10px;
}
